:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 200%;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
}

body {
  margin: 0;
}

h1{
  margin-top: 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(241, 67, 67, 0.884);
  color: white;
  width: 100%;
  font-size: 50px;
}
.header--world {
  width: 80px;
  margin: 30px;
  align-self: center;
  padding-right: 10px;
}
.header--text {
}

.card {
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 7.5px rgba(70, 57, 57, 0.507);
  border-radius: 10px;
  align-items: center;
}
.card--border {
  margin: 100px;
}

.card--bottom {
  padding-bottom: 100px;
  border-bottom: 2px solid rgba(70, 57, 57, 0.507);
}

.card--border:last-child {
  .card--bottom {
    padding-bottom: 0;
    border: none;
  }
}

.card--info {
  margin: 20px;
  align-self: center;
  width: 100%;
}

.card--locationInfo {
  display: flex;
}
.card--locationIcon {
  width: 20px;
  align-self: center;
  padding-right: 10px;
}
.card--location {
  align-self: center;
}
.card--viewLink {
  color: grey;
  text-decoration: underline;
  align-self: center;
  padding-left: 30px;
}
.card--dates {
  font-size: 90%;
}

.card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;
}
.card--description {
  line-height: 130%;
}
.card--img {
  width: 40%;
  max-width: fit-content;
  object-fit: cover;
  border-radius: 10px;
}
